<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zsc.game">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".app.MApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.Main2Activity" />
        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.VideoDetailActivity" />
        <activity android:name=".ui.activity.ClassifyListActivity" />
        <activity android:name=".ui.activity.DummyActivity" />
        <!-- <activity android:name=".ui.activity.MainActivity" /> -->
        <activity android:name=".ui.activity.Main3Activity" />
        <activity android:name=".ui.activity.DetailActivity" />
        <activity android:name=".ui.activity.SousuoActivity" />
        <activity android:name=".ui.activity.VrVideoDetailActivity" />
        <activity android:name=".ui.activity.VRpicMusicActivity"></activity>
    </application>

</manifest>